<head>
<link href="/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><%= sidebar[:title] %></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% sidebar[:links].each do |link| -%>
              <li><a href="/<%= link[:link] %>"><%= link[:title] %></a></li>
            <% end -%>
          </ul>
        </div>
      </div>
    </nav>
    <blockquote>
      <p><%= sidebar[:description] %></p>
    </blockquote>
    <% posts.each do |post| -%>
     <h1>
       <a href="<%= post.permalink%>"><%= post.title %></a>
       <span class="small"><%= post.author %> (<%= post.author_flair_text %>)</span>
     </h1>
     <a href="<%= post.link_flair_text %>"><span class="label label-success"><%= post.link_flair_text %></span></a>
     <%= post.selftext %>
    <% end -%>
  </div>
</body>
